
.product-card {
    border: 1px solid #ddd;
    padding: 16px;
    background-color: #f9f9f9;
    display: inline-block;
    margin: 25px;
    margin-left:25px;
    justify-content: center;
    text-align: center;
    align-items: center;
    
    }
  
  .product-image {
    max-width: 100%;
    height: auto;
  
  }
  
  .product-title {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
  
  }
  
  .product-price {
    font-size: 14px;
    color: #333;
    text-align: center;
  
  }
  
  .add-to-cart-button {
    background-color: #007bff;
    border-radius: 5px;
    color: #fff;
    border: none;
    font-size: medium;
    text-align: center;
    cursor: pointer;

   
  }